extends layout

block content
  div
    div
      h4 #{creates.creatName}
      p 作成者: #{creates.user.username}
  - var isMine = parseInt(user.id) === create.user.userId
script. 
  console.log(creates.html)