extends layout

block content
  div
    div
      h4 #{creates.creatName}
      p 作成者: #{creates.user.username}
  - var isMine = parseInt(user.id) === create.user.userId
  if isMine
    div
      a(href=`/create/${creates.createId}/edit`).btn.btn-info 編集する