extends layout

block content
  .flex.justify-center.text-4xl.mt-24
    p このサイトはtailwindの操作を簡単に確認するためのサイトです。
      br 
      | ほにゃらららららーーーーーー
    p
      a(href="/create/new").text-6xl 作成
  script.
    var hasCreate = (creates == "undefined" ? false : creates.length > 0)
  if hasCreate
    table#tableList.flex.justify-center.text-4xl
      tr
        th 名前
        th 更新日時
      each create in creates
        tr
          td
            a(href=`/create/${creates.createId}`) #{creates.createName}
          td #{creates.formattedUpdatedAt}