doctype html 
html 
  head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap' rel='stylesheet')
    title tailwind シミュレーター
  body#main.text-center.h-screen.w-screen(style='font-family: Zen Antique Soft')
    #navbar.h-24.w-full.bg-indigo-500.flex.justify-between.text-white
      a.mt-4.text-6xl.font-bold(href='/') tailwind シミュレーター
      ul.mt-6.text-3xl
        if user
          li
            a(href="/logout") #{user.username} をログアウト
        else
          li
            a(href="/login") ログイン
  block content