extends layout

block content
  form(method="post", action="/create")
    input(type="hidden" name="_csrf" value!=csrfToken)
    div
      label(for="createName") 名前
      input(type="text" name="createName")#createName
    button(type="submit") 作成する