<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body style="font-family: Zen Antique Soft">
  <div id="navbar" class="w-full bg-indigo-500 flex justify-between text-white">
      <a class="text-6xl font-bold" href="/">LAYOUT tailwind</a>
  </div>
  <table id="tableList" class="flex justify-center text-4xl">
    <tr>
      <th>名前</th>
      <th>更新日時</th>
    </tr>
  </table>
</body>
<script src="../js/table.js"></script>
</html>